<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PMT.DAL.Properties.Settings.pmtConnectionString" connectionString="Data Source=localhost;Initial Catalog=pmt;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>