<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PMT.DAL.Properties.Settings.PmtConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\My Documents\Visual Studio 2005\Projects\ProjectManagement.Net\PMT.DAL\pmt.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>