body
{
	padding: 0px;
	margin: 0px;
	
	background: #06A url(images/diagonals-gray.gif);
	color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: smaller;
}

/* Layout Classes */
#Header
{
	/*width: 800px;*/
	width: 95%;
	height: 75px;
	margin: 2px;
	padding: 5px;
	clear: both;
	
	background-color: White;
	color: Navy;
}

#Navigation
{
	/*width: 192px;*/
	width: 18%;
	height: 600px;
	margin: 2px;
	padding: 5px;
	float: left;
	
	background-color: White;
	color: Navy;
}

#Main
{
	/*width: 594px;*/
	width: 75.8%;
	height: 600px;
	overflow: visible;
	margin: 2px;
	padding: 5px;
	float: left;
	
    background-color: White;
	color: Black;
}

/* Link Classes */

a.nav
{
	display: block;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	border-bottom: 1px dashed #ccc;
}
a.nav:link
{
	color: Navy;
	text-decoration: none;
}
a.nav:visited
{
	color: Navy;
	text-decoration: none;
}
a.nav:hover
{
	color: Black;
	background-color: #ddd;
}
a.nav:active
{
	text-decoration: underline;
}

.Message
{ 
    border: 1px solid LightGrey; 
    padding: 1em;
}

select
{
    width: 10em;
}

hr
{
    border-color: White;
    border-bottom-style: solid;
}


/* DataGrid Classes */
.dg
{
    color: Black;
}
.dg td
{
    text-align: left;
    padding: 2px;
}
.dgHeader
{
    font-weight: bold;
}
.dgAltItem
{
    background-color: #ddd;
}