body
{
	padding: 0px;
	margin: 0px;
	
	background: #06f url(images/diagonals-gray.gif);
	color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: smaller;
}

/* Layout Classes */
#Header
{
	height: 75px;
	width: 808px;
	clear: both;
	margin: 2px;
	padding: 5px;

	color: Navy;
	background-color: White;
}
#Navigation
{
    width: 200px;
	height: 600px;
	float: left;
	margin: 2px;
	padding: 5px;

	color: Navy;
	background-color: White;
}
#Main
{
    height: 600px;
	float: left; 
	width: 594px;
	margin: 2px;
	padding: 5px;
	
	color: Black;
	background-color: White;
}

/* Header links */
#Header a.nav:link
{
	color: Navy;
	text-decoration: underline;
}
#Header a.nav:visited
{
	color: Navy;
}
#Header a.nav:hover
{
    color: Black;
}
#Header a.nav:active
{
    color: Red;
}

/* Left Navigation links */
#Navigation a.nav
{
    display: block;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	border-bottom: 1px dashed #ccc;
}
#Navigation a.nav:link
{
	color: Navy;
	text-decoration: none;
}
#Navigation a.nav:visited
{
	color: Navy;
	text-decoration: none;
}
#Navigation a.nav:hover
{
	color: Black;
	background-color: #ddd;
}
#Navigation a.nav:active
{
	text-decoration: underline;
}


.Message
{ 
    border: 1px solid #ccc; 
    padding: 1em;
}

select
{
    width: 10em;
}

hr
{
    border-color: #ccc;
    border-bottom-style: solid;
}

h1, h2, h3, h4, h5, h6
{
    padding: 0px;
    margin: .5em 0 .5em 0;
}

/* DataGrid Classes */
.dg
{
    border: solid 1px #999;
}
.dg td
{
    text-align: left;
    padding: 2px;    
}
.dgHeader
{
    font-weight: bold;
}
.dgItem
{
}
.dgAltItem
{
    background-color: #ddd;
}