<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <system.web>

	<!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->

    <!-- Allow only Developers -->
    <authorization>
        <allow     roles="Developer"/>
        <deny      users="*"/>
    </authorization>
 </system.web>

</configuration>
