<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <sectionGroup name="pmtSettings">
      <section name="pmt" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="pmtDataProvider" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>

  <system.web>
      <globalization culture="en-US" uiCulture="en-US" />
      <compilation defaultLanguage="c#" debug="true">
			<compilers>
				<compiler language="c#" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".cs" compilerOptions="/d:DEBUG;TRACE /nowarn:1591"/>
      </compilers>
			<assemblies>
				<add assembly="MySql.Data, Version=1.0.7.30072, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
		<customErrors mode="RemoteOnly" defaultRedirect="Error.aspx"/>
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" timeout="30"/><!-- Cookie expires after 30 minutes -->
		</authentication>
		<authorization>
			<allow users="*"/>
		</authorization>
		<xhtmlConformance mode="Transitional"/>
    <pages masterPageFile="~/Master/Default.master" theme="Default">
    </pages>
  </system.web>

  <connectionStrings>
    <add name="default" connectionString="Server=localhost;Database=pmt;Uid=pmt;Pwd=pmt;" />
  </connectionStrings>
  
  <pmtSettings>
    <pmt></pmt>
    <pmtDataProvider>
      <add key="DataProvider" value="PMTDataProvider.MySqlDataProvider" />
    </pmtDataProvider>
  </pmtSettings>

</configuration>
