<?xml version="1.0"?>

<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PMT.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="pmtSettings">
      <section name="pmt" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="pmtDataProvider" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>
  <appSettings/>

  <system.web>
    <globalization culture="en-US" uiCulture="en-US"/>
    <compilation debug="true" />
    <xhtmlConformance mode="Transitional"/>
    <pages masterPageFile="~/Master/Default.master" theme="Default">
      <controls>
        <add tagPrefix="pmt" namespace="PMT.Web.Controls" assembly="PMT.Web"/>
        <add tagPrefix="pmt" tagName="Navigation" src="~/Controls/Navigation.ascx"/>
        <add tagPrefix="pmt" tagName="Profile" src="~/Controls/Profile.ascx"/>
        <add tagPrefix="pmt" tagName="Report" src="~/Controls/Report.ascx"/>
        <add tagPrefix="pmt" tagName="Header" src="~/Controls/Header.ascx"/>
      </controls>
    </pages>
    <customErrors mode="RemoteOnly" defaultRedirect="Error.aspx"/>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="30"/>
      <!-- Cookie expires after 30 minutes -->
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>

  <!-- Role Authorization -->
  <location path="AllUsers">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Client">
    <system.web>
      <authorization>
        <allow roles="Client"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="PM">
    <system.web>
      <authorization>
        <allow roles="Manager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Dev">
    <system.web>
      <authorization>
        <allow roles="Developer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <applicationSettings>
    <PMT.Web.Properties.Settings>
      <setting name="ErrorEmail" serializeAs="String">
        <value>jrummell@users.sourceforge.net</value>
      </setting>
    </PMT.Web.Properties.Settings>
  </applicationSettings>

  <!-- Connection Strings -->
  <connectionStrings>
    <add name="PMT.DAL.Properties.Settings.PmtConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\My Documents\Visual Studio 2005\Projects\pmt\PMT.DAL\pmt.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    <add name="default" connectionString="Server=tx-apache;Database=pmt;Uid=pmt;Pwd=pmt;"/>
  </connectionStrings>
  <!-- PMT Settings -->
  <pmtSettings>
    <pmt>
      <add key="ErrorToEmail" value="jrummell@users.sourceforge.net"/>
      <add key="ErrorFromEmail" value="jrummell@users.sourceforge.net"/>
    </pmt>
    <pmtDataProvider>
      <!-- <add key="DataProvider" value="PMTDataProvider.MySqlDataProvider" /> -->
      <!-- DatabaseType can be either MySql or SqlServer -->
      <add key="DatabaseType" value="MySql"/>
    </pmtDataProvider>
  </pmtSettings>
</configuration>
