<?xml version="1.0"?>

<configuration>

    <configSections>
        <sectionGroup name="gotdotnet.elmah">
            <!-- Indicates that inside the section group there will be an errorLog section -->
            <section name="errorLog" type="System.Configuration.SingleTagSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
            <!-- Indicates that inside the section group there will be an errorMail section -->
            <section name="errorMail" type="System.Configuration.SingleTagSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        </sectionGroup>
    </configSections>
    <appSettings/>

    <system.web>
        <globalization culture="en-US" uiCulture="en-US"/>
        <compilation debug="true" />
        <xhtmlConformance mode="Transitional"/>
        <pages masterPageFile="~/Master/Default.master" theme="Default">
            <controls>
                <add tagPrefix="pmt" namespace="PMT.Web.Controls" assembly="PMT.Web"/>
                <add tagPrefix="pmt" tagName="Navigation" src="~/Controls/Navigation.ascx"/>
                <add tagPrefix="pmt" tagName="Profile" src="~/Controls/Profile.ascx"/>
                <add tagPrefix="pmt" tagName="Report" src="~/Controls/Report.ascx"/>
                <add tagPrefix="pmt" tagName="Header" src="~/Controls/Header.ascx"/>
            </controls>
        </pages>
        <customErrors mode="RemoteOnly" defaultRedirect="Error.aspx"/>
        <authentication mode="Forms">
            <forms loginUrl="Login.aspx" timeout="30"/>
            <!-- Cookie expires after 30 minutes -->
        </authentication>
        <authorization>
            <allow users="*"/>
        </authorization>

        <httpModules>
            <add name="ErrorLog" type="GotDotNet.Elmah.ErrorLogModule, GotDotNet.Elmah, Version=2.0.50727.42, Culture=neutral, PublicKeyToken=89e7ba9b9c08cfca" />
            <!-- Adds the ErrorMailModule to the HTTP pipeline. -->
            <add name="ErrorMail" type="GotDotNet.Elmah.ErrorMailModule, GotDotNet.Elmah, Version=2.0.50727.42, Culture=neutral, PublicKeyToken=89e7ba9b9c08cfca" />
        </httpModules>

        <!-- Allows you to view ELMAH errors @ http://<YourVirtualRoot>/elmah/default.aspx -->
        <httpHandlers>
            <add
                verb="POST,GET,HEAD"
                path="admin/elmah/default.aspx"
                type="GotDotNet.Elmah.ErrorLogPageFactory, GotDotNet.Elmah, Version=2.0.50727.42, Culture=neutral, PublicKeyToken=89e7ba9b9c08cfca" />
        </httpHandlers>
    </system.web>

    <!-- Connection Strings -->
    <connectionStrings>
        <add name="PMT.DAL.Properties.Settings.PmtConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\My Documents\Visual Studio 2005\Projects\pmt\PMT.DAL\pmt.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
                providerName="System.Data.SqlClient" />
        <add name="Elmah" connectionString="Data Source=localhost;Initial Catalog=elmah;uid=elmah;pwd=elmah;" providerName="System.Data.SqlClient"/>
    </connectionStrings>

    <system.net>
        <mailSettings>
            <smtp deliveryMethod="Network">
                <network host="localhost" port="25" defaultCredentials="true"/>
            </smtp>
        </mailSettings>
    </system.net>

    <gotdotnet.elmah>
        <!-- This section contains the type of the error logger
             to use (SqlErrorLog, MemoryErrorLog, or a custom logger).
             as well as the properties pertinent to the error logger
             (e.g., connectionString for the SqlErrorLog). -->
        <errorLog type="GotDotNet.Elmah.SqlErrorLog, GotDotNet.Elmah, Version=2.0.50727.42, Culture=neutral, PublicKeyToken=89e7ba9b9c08cfca" connectionStringName="elmah"/>
        <!-- To have an administrator e-mailed with details of the exception, uncomment 
             the following section. You MUST specify a to e-mail address; 
             you can optionally specify a from (default is same as to);
             (consult the code for ErrorMailModule for more optional setting values) 
		<errorMail from="elmah@gotdotnet.com" to="you@yourDomain.com" subject="Application Error" async="true"/>
		-->
    </gotdotnet.elmah>

    <!-- Role Authorization -->
    <location path="AllUsers">
        <system.web>
            <authorization>
                <deny users="?"/>
            </authorization>
        </system.web>
    </location>
    <location path="Admin">
        <system.web>
            <authorization>
                <allow roles="Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="Client">
        <system.web>
            <authorization>
                <allow roles="Client"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="PM">
        <system.web>
            <authorization>
                <allow roles="Manager"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="Dev">
        <system.web>
            <authorization>
                <allow roles="Developer"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

</configuration>
