<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="PMT" connectionString="Data Source=TX\SQLEXPRESS;Initial Catalog=pmt;Persist Security Info=True;User ID=pmt;Password=pmt"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <SubSonicService defaultProvider="SqlServer" enableTrace="false" templateDirectory="">
    <providers>
      <clear/>
      <add name="SqlServer" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="PMT" generatedNamespace="PMT.DAL"/>
    </providers>
  </SubSonicService>
</configuration>